.card {
  padding-bottom: 20px;
  max-width: 80%;
  margin: auto;
  height: fit-content;
  animation: meals-appear 1s ease-out forwards;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
