.btn {
  background-color: rgb(165, 42, 42);
  color: white;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  border: none;
}

.btn:hover {
  background-color: rgb(202, 52, 52);
  cursor: pointer;
}
